body {
   display: flex;
   flex-direction: column;
   font-family: "Josefin Slab", "Klee One";
}
.headerOne {
   font-size: 64px;
   color: black;
   font-family: "Josefin Slab";
}
.navBar {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   margin-left: 30px;
   padding: auto;
   text-decoration: underline;
   text-underline-offset: 10px;
}
#headerName {
   font-size: 64px;
   font-family: "Josefin Slab";
}
#headerJob {
   font-size: 24px;
   font-family: "Klee One";
}
.headerImg {
   float: right;
   border-radius:8%;
   width:914px;
   height: 299px;
}
.headerTwo {
   color: #731702;
   font-family: "Klee One";
}
.aboutAndSkills {
   display: flex;
   margin-top: 20px;
}
.aboutMe,
.skills {
   flex: 1;
   margin: 0 10px;
   border-radius: 25px;
}
.aboutMe {
   background-color: #f2daac;
   opacity: 0.85;
   padding: 10px;
   width: 634px;
   height: 317;
   flex: 66%;
}
.skills {
   background-color: #f2daac;
   opacity: 0.85;
   padding: 10px;
   width: 317px;
   height: 257px;
   flex: 33%;
}
.caseStudiesContainer {
   text-align: center;
   margin-top: 20px;
}
.projectBox {
   display: flex;
   justify-content: space-around;
}
.projectBox1,
.projectBox2,
.projectBox3 {
   flex: 1;
   margin: 0 10px;
   padding-bottom: 50px;
   background-color: #f2daac;
   border-radius: 25px;
} 
.headerThree {
   color: black;
}
.button {
   background-color: #f1c84a;
   color: black;
   border-radius: 15px;
   padding: 14px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}
.portrait {
   width: 100%; 
   height: auto; 
   border-radius: 8%;
   margin-top: 20px; 
}
#portrait{
   width: 400px;
   height: 400px;
}
.connect {
   display: flex;
   display: table-column-group;
   align-content: space-around;
}
.descripion{
   padding: 10px;
   margin: 10px;
}
footer {
   opacity: 0.85;
   background-color: #f2daac;
}


/*

Old Code:

body {
    display: flex;
    flex-direction: column;
}
.headerOne {
    font-size:64px;
    color: black;
 }
 .navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height:30px;
    width:300px;
    margin: left;
 }
 #headerName {
    font-size: 64px;
 }
 #headerJob {
    font-size: 24px;
 }
 .headerImg {
    float: right;
    border-radius: 8px;
    width:914px;
    height: 299px;
    object-position: (0,0);
 }
 .headerTwo{
    color: #731702;
 }
 .aboutMe {
    padding:10,10,10,10;
    background-color: #F2DAAC;
    opacity: 85%;
 }
 .description {
    padding: 10,10,10,10;
 }
 .projectBox {
    background-color: #F2DAAC;
    padding: 25px, 25px, 25px, 25px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr;
    grid-template-areas: "projectBox1 projectBox2 projectBox3";
    justify-content: space-evenly;
    width: 466px;
 }
 .headerThree {
    color: black
 }
 .button {
    background-color: #F1C84A;
    color: black
 }
 .portrait { 
    width: 438px;
    height: 440px;
    border-radius: 8%;
 }
*/